body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("background.png");
    background-size: cover;
    background-position: center;
    font-family: "Pixelify Sans", sans-serif;
}


#envelope-container {
    text-align: center;
    cursor: pointer;
}

#envelope {
    width: 200px;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


#letter-container {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
}


.letter-window {
    width: 90vw;
    max-width: 800px;
    aspect-ratio: 3/2;
    padding: 20px;
    padding-top: 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background: url("window.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transform: scale(1.2);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.letter-window.open {
    transform: scale(1);
    opacity: 1;
}


h1 {
    font-size: 32px; 
    margin: 0;
    color: rgb(14, 62, 172);
    background: rgba(255, 240, 240, 0.6); 
    padding: 10px 20px;
    border-radius: 12px;
}


.cat {
    width: 230px;
    margin: 10px 0;
    transition: width 0.4s ease;
}

.letter-window.final .cat {
    width: 180px;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.no-wrapper {
    position: relative;
}

.btn {
    width: 150px; 
    padding: 10px 0; 
    font-size: 18px; 
    user-select: none;
}

.yes-btn {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.no-btn {
    cursor: default;
    transition: transform 0.25s ease;
}


.final-text {
    display: none;
    font-size: 20px;
    line-height: 1.5;
    background: rgba(255, 240, 240, 0.6);
    padding: 12px 18px;
    border-radius: 12px;
    color: initial; 
}